    
/* BUDGET BUDDY CSS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/* APPLIES TO ALL PAGES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #388E3C;
    padding: 15px;
    line-height: 1.7;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 10px 20px 10px;
    min-width: 0;
}

.links {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-shrink: 1;
    min-width: 0;
}

.page-header-logo {
    flex-shrink: 1;
    width: 100px;     
    height: auto;   
    margin: -80px 0 -75px 0;
}

.header-button {
    min-width: 80px;
    flex-shrink: 1;
    padding: 8px 12px;
    white-space: nowrap;
    color: #fff;
    text-align: center;
    background: #388E3C;
    font-family: inherit;
    font-size-adjust:14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.header-button:hover {
    background: #2c702f;
    transform: scale(1.05);
}

.container {
    max-width: 1100px;
    min-width: 300px;
    margin: 0 auto;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
}

.page-container {
    color: #388E3C;
    border-top: solid 4px #2E7D32;
}

.page-title {
    margin: 20px 0;
    text-align: center;
}

/* HOME PAGE */
.home-container {
    color: #388E3C;
    border-top: solid 4px #2E7D32;
}

.home-title {
    color: #388E3C;
    margin: 20px 0;
}

.home-text {
    font-size: 18px;
    color: #388E3C;
    margin-bottom: 40px;
}
.home-paragraph {
    font-size: 18px;
    color: #388E3C;
    text-align: center;
}

/* DASHBOARD PAGE */
/* balance cards */
.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 40px 0;
}
.card {
    background: #C1F6C1;
    border-radius: 20px;
    padding: 50px;
    text-align: center;
}

.card .total-amount {
    font-size: 2em;
}

.card:hover {
    transform: scale(1.05);
}

/* update sections */
.update-container {
    color: #388E3C;
    border-top: solid 4px #2E7D32;
}

.update-title {
    margin: 20px 0;
    text-align: center;
}

.section {
    color: #388E3C;
    background: #C1F6C1;
    border-radius: 12px;
    padding: 20px;
    margin: 20px 0;
}

.input-container{
    flex: 1;
}
.input-box {
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: 2px;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    font-size: 20px;
}

.dropdownContainer {
    display: flex;
    gap: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 2px solid #388E3C;
    border-radius: 6px;
    font-size: 18px;
}

select {
    color: #8b8b8b;
}

select option[value=""] {
    color:#8b8b8b;
}

select option:not([value=""]) {
    color: black;
}

input:focus, select:focus {
    outline: none;
    border-color: #388E3C;
}

.update-button {
    width: 100%;
    padding: 12px 10px;
    margin-top: 15px;
    color: #fff;
    background: #388E3C;
    font-family: inherit;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.update-button:hover {
    background: #2c702f;
    transform: scale(1.01);
}

/* updates list */
.updates-list-container {
    background: #fff;
    height: 250px;
    overflow-y: auto;
    overflow-x: auto;
    padding: 10px;
    border: 2px solid #388E3C;
    border-radius: 6px;
}

.update-item {
    padding-top: 5px;
    padding-bottom: 5px;
}